PANEL_DOMAIN=panel.example.com
HY2_DOMAIN=hy2.example.com
PUBLIC_BASE_URL=https://panel.example.com
DEFAULT_VLESS_ADDRESS=vless.example.com
DEFAULT_VLESS_NAME=VLESS_Reality_vless.example.com
DEFAULT_HY2_NAME=HY2_hy2.example.com
HY2_MASQUERADE_URL=https://example.com
QR_CMD=qrencode
REALITY_SNI=www.cloudflare.com
XRAY_REALITY_PORT=8443
LE_EMAIL=admin@example.com
TZ=Asia/Hong_Kong
XRAY_IMAGE=ghcr.io/xtls/xray-core:latest
PANEL_IMAGE=xray-proxy-panel:local
HYSTERIA_IMAGE=tobyxdd/hysteria:latest
NGINX_IMAGE=nginx:1.27-alpine
CERTBOT_IMAGE=certbot/certbot:latest
